
<h1>The 'If I Were You' Headlines</h1>


<p>Most of us share a desire to improve. We want to be more productive and more successful. We all would love to accomplish more in less time. And, we all want to be good at what we do. It's those desires that make the, "If I were you..." headlines so powerful.

When someone tells us how we should do something, we balk. When someone offers to show us why we should do something, it appeals to us. It speaks to the reasons and motivations we should adopt a new idea, or change our current ones.

Examples:

Why You Should Forget Facebook
This title, in particular, was especially powerful to me for two reasons. The first, was the context of the article; it appeared on LinkedIn from a very popular marketer.

The second reason was because it caused cognitive dissonance - Facebook is one of the largest platforms available to marketers, yet this title says I should walk away and forget it. And it worked. This post was viewed around 300,000 times.

Why You Should Hire People Toughened by Failure, Not Those Coddled by Success</p>


<a href="#">Add a comment</a>
